body {
    font-family: "Figtree", sans-serif;
    padding: 1rem;
    background: #13234f;
    margin: 0 auto;
    display: grid;
    min-width: 320px;
    min-height: 100vh;
    color: #ccc;
}

.sequencer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 5px;
}

.sequencer-row {
    display: flex;
    align-items: center;
}

.bpm-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.row-label {
    width: 4rem;
    font-weight: bold;
    color: #ccc;
}

.row-buttons {
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-gap: 5px;
}

.note {
    background: #ccc;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.note.active {
    background: #93dbed;
    border: 1px solid #93dbed;
    color: #000;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.first-beat-bar {
    background: #299fff;
    border: 1px solid #299fff;
}

.indicator-row {
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-gap: 5px;
    margin: 0 0 5px 4rem;
    padding-right: 208px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #555;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 auto;
}

.live {
    background: #ff2e51;
}

#play {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#stop {
    background: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Typography */
header,
footer {
    padding: 0 15rem 0 15rem;
}

h1 {
    font-size: 4rem;
    margin-top: 1rem;
}

.volume-slider {
    margin-left: 1rem;
}